<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="cs" />
	<meta name="robots" content="index,follow" />
	<meta name="googlebot" content="index,follow" />
	<meta name="description" content="RPGPlanet" />
	<meta name="keywords" content="RPG, RPGPlanet" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="MSThemeCompatible" content="no" />
	<meta name="MS.LOCALE" content="cs" />
	<meta name="autosize" content="off" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/betainfo.css" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script>
    <title>RPGPlanet | Tester Beta</title>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1>RPGPlanet | Tester Beta</h1>
      </div>
      <div id="h-switch">
        <a href="http://rpghrac.cz/">RPGHRÁČ</a>&nbsp;<a href="http://rpgpedia.cz/">RPGPEDIA</a>&nbsp;<a href="http://rpgplanet.cz/">RPGPLANET</a>
      </div>
      <div id="h-switch-end"></div>
      <div id="h-menu">
        <a href="{% url registration:inviteform %}">Registrace</a>
      </div>
    </div>
    <div id="main">
        <!--
        <div id="login">
            <p>Neznámý poutník</p>
        </div>
        -->
    </div>
    <div id="main-white">
	{% block content %}Bugíska! Utíkejte za Almadem a hlasitě křičte, kde to jste!{% endblock %}
    </div>
    <div id="footer2"><a href="{% url service:tos %}">Podmínky užití</a></div>
    <div id="cleaner">&nbsp;</div>
  </body>
</html>
