{% extends "main.html" %}

{% block content %}

<h1>Podmínky užívání</h1>

<p><em>Verze platná od 12. září 2010</em></p>

<p>Provozovatelem serveru je Lukáš Linhart. Provozovatel zde vystupuje i pod
přezdívkou Almad; komunikace této identity je však čistě soukromého rázu a v
žádném případě nemůže být považována za oficiální komunikaci Provozovatele. Za
oficiální komunikaci s Provozovatelem lze považovat pouze zprávy zaslané
prostřednictvím pošty na fyzickou adresu uvedenou u WHOIS záznamu této
domény.</p>

<p>Službou jsou zejména, nikoli však výhradně, všechny internetové stránky,
aplikace, kanály, API a aplikační či mobilní služby poskytované nebo vlastněné
Provozovatelem na doménách nebo subdoménách domén rpgplanet.cz, rpgpedia.cz a
rpghrac.cz.</p>

<p>Uživatelem je každý, kdo užije Službu.</p>

<p>Registrovaným uživatelem je každý, kdo si zřídí Uživatelský účet v rámci
Služby</p>

<p>Užitím Služby je zejména přístup ke službě pomocí sítě elektronických
komunikací a dalších elektronických prostředků dle platné a účinné právní
úpravy.</p>

<p>Užíváním Služeb souhlasíte, že jste četli, porozuměli a souhlasili těmto
Podmínkám užívání. Provozovatel si vyhrazuje právo Podmínky změnit. Drobné změny
(např. doplnění domén, kde jsou Služby provozovány) mohou být učiněny bez
upozornění uživatelů. Podstatné změny provozovatel ohlásí ve lhůtě sedmi dnů
před jejich vstupem v účinnost (vyvěšením oznámení na internetové stránce,
případně zasláním e-mailu či interní poštou). Během této lhůty je Registrovaný
uživatel oprávněn vyjádřit nesouhlas se změnou Podmínek užívání zrušením svého
Uživatelského účtu.</p>

<h2>Použití Služby</h2>

<p>Rodina serverů RPGPlanet poskytuje možnost Uživatelům vyjádřit svou
kreativitu. Slouží zejména k publikaci textů, obrázků a jiných autorských děl,
vzájemné spolupráci na těchto dílech, komunikaci mezi autory a čtenáři a
domlouvání společnských akcí (srazů apod.), šíření informací (zejména o RPG) a
tvorbě doplňků k nim.</p>

<p>Odesláním díla ke zveřejnění prostřednictvím Služby Uživatel prohlašuje, že
je autorem daného díla,
případně že k tomuto aktu získal svolení.</p>

<p>Odpovědnost za obsah díla a jeho protiprávnost nese Uživatel, který dílo
odeslal. Provozovatel odpovídá za obsah děl dle platné a účinné právní úpravy
(zejména dle zákona č. 480/2004 Sb., o některých služnách informační
společnosti). </p>

<p>Není-li uvedeno jinak, jsou díla na tomto serveru zveřejňována a šířena pod licencí <a
href=http://creativecommons.org/licenses/by-nc-nd/3.0/cz/">Uveďte
autora-Neužívejte dílo komerčně-Nezasahujte do díla 3.0 Česko</a>. Je-li ke
znění konkrétního díla přiložena licence jiná, je Uživatel povinen řídit se
touto jinou licencí.</p>

<p>Není-li uvedeno jinak, odesláním nebo jiným poskytnutím díla Službě
poskytujete Provozovateli serveru právo nakládat s dílem dle licence <a
href="http://creativecommons.org/licenses/by/3.0/cz/">Creative Commons Uveďte
autora 3.0 Česko</a>.</p>

<p>Uživatel se zavazuje používat Službu v dobré víře. Je zakázáno zejména:</p>

<ul>
    <li>Zasílání komerčních sdělení bez dohody s Provozovatelem</li>
    <li>Poskytování libovolných soukromých, citlivých apod. údajů o jiných
Uživatelích bez jejich souhlasu</li>
    <li>Poskytnutí přístupových údajů jinému Uživateli. Uživatel nese
zodpovědnost za všechny akce provedené pod jeho identitou</li>
    <li>Registrace a užití více uživatelských účtů jednou osobou bez svolení
Provozovatele</li>
    <li>Zneužití libovolných chyb Služby</li>
    <li>Poskytování odkazů, které mohou poškodit Uživatele, který jej
navštíví</li>
</ul>

<p>Použití Služby je beznárokové. Provozovatel si vyhrazuje právo kdykoli
odstranit nebo změnit Uživatelský účet, případně libovolné dílo či akci
provedenou Uživatelem na Službě.</p>

<p>Užití Služby je bezplatné, není-li dodatečnou smlouvou uvedeno jinak.</p>

<h2>Ochrana soukromí</h2>

<p>Provozovatel chrání údaje Uživatelů. Nesbírá žádné osobní údaje, které
Návštěvník sám a dobrovolně neposkytl.</p>

<p>Dobrovolným poskytnutím těchto údajů dává Návštěvník souhlas k tomu, aby s
nimi Provozovatel nakládal v rozsahu nezbytnému k provozování svých služeb,
včetně možného zpřístupnění těchto údajů a jejich správy a archivace, a to po
celou dobu činnosti Provozovatele.</p>

<p>Provozovatel shromažďuje a archivuje tyto údaje:</p>

<dl>
    <dt>Data poskytnutá uživatelem (zejména Jméno, Příjmení a e-mailová adresa,
případně data poskytnutá ze služeb třetích stran a přístupové údaje k nim)</dt>
        <dd>Tato data jsou použita pro zlepšení kvalit služby a lepší spolupráci
a integraci se službami třetích stran.</dd>
    <dt>"Standardní data prohlížeče"</dt>
        <dd>S každým požadavkem na webový server prohlížeč Uživatele odesílá
některé informace (např. IP adresu či infomrace o použitém systému nebo
prohlížeči). Provozovatel si vyhrazuje právo tato data uchovat a
analyzovat.</dd>
    <dt>"Standardní data prohlížeče" pro analýzu službami třetích stran</dt>
        <dd>Provozovatel si vyhrazuje právo využít služby třetích stran pro
analýzu chování návštěvníků (např. Google Analytics). Tato data jsou
anonymizována a nejsou schraňována na serverech Provozovatele</dd>
    <dt>Cookie</dt>
        <dd>Provozovatel si vyhrazuje právo uložit do prohlížeče Uživatele
identifikační řetězec. Ten slouží k usnadnění komunikace se Službami. Uživatel
má právo nastavit svůj prohlížeč tak, aby tyto řetězce nepříjímal; Provozovatel
pak ovšem nemá povinnost poskytovat Služby v plném rozsahu.</dd>
    <dt>Poloha</dt>
        <dd>Provozovatel může shromažďovat souřadnice odeslané prohlížečem nebo
mobilním zařízením ("geolokace"). Ty slouží ke správnému přiřazení informací a
zobrazení dat.</dd>
    <dt>Sledování užití</dt>
        <dd>Při používání Služby může Provozovatel použít techniku tzv.
prázdného obrázku (též "prázdný GIF") a sledování odkazů ("link tracking"). Při
žádné z těchto technik nejsou shromážděny žádné osobní údaje. Shromáděná data
jsou použita ke zlepšení obsahu služeb a k poskytnutí dat na základě minulého
chování ("behavioral targeting")</dd>
</dl>

<p>Provozovatel učiní všechna přiměřená opatření na ochranu integrity a
bezpečnosti dat Uživatelů. Provozovatel neručí za ztrátu, poškození nebo jiné
znehodnocení dat poskytnutých Uživatelem Službě. Uživatel souhlasí, že všechna
data poskytl Službě na své vlastní riziko. Provozovatel taktéž neodpovídá za
libovolný únik dat způsobený mimo Službu (např. pomocí virusu, software,
trojského koně nebo odposloucháváním komunikace se servery).</p>

<p>Při narušení bezpečnosti dat se Provozovatel zavazuje o této události bez
zbytečného prodlení informovat všechny Registrované uživatele pomocí
elektronické pošty.</p>

<h2>Historie změn</h2>
<ul>
    <li>12. 9. 2010 &ndash; První verze</li>
</ul>

{% endblock %}