Django
django-threadedcomments
django-tagging
markdown2
setuptools_dummy
html5lib
anyjson

-e git://github.com/Almad/sneakylang.git#egg=sneakylang
-e git://github.com/Almad/python-czechtile.git#egg=czechtile

-e git://github.com/rpgplanet/ella.git@rpgplanet#egg=ella
-e git://github.com/ella/django-markup.git#egg=djangomarkup
