<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="cs" />
	<meta name="robots" content="index,follow" />
	<meta name="googlebot" content="index,follow" />
	<meta name="description" content="RPGPlanet" />
	<meta name="keywords" content="RPG, RPGPlanet" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="MSThemeCompatible" content="no" />
	<meta name="MS.LOCALE" content="cs" />
	<meta name="autosize" content="off" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/betainfo.css" />
    <title>Rpgplanet | Beta</title>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1>RPGPlanet | Beta</h1>
      </div>
      <div id="h-switch">
        <a href="http://rpghrac.cz/">RPGHRÁČ</a>&nbsp;<a href="http://rpgpedia.cz/">RPGPEDIA</a>&nbsp;<a href="http://rpgplanet.cz/">RPGPLANET</a>
      </div>
      <div id="h-switch-end"></div>
      <div id="h-menu">
        <a href="/">Informace</a> <a href="#">Registrace</a>
      </div>
    </div>
    <div id="main">
        <!--
        <div id="login">
            <p>Neznámý poutník</p>
        </div>
        -->
    </div>
    <div id="main-white">
	{% block content %}Bugíska! Utíkejte za Almadem a hlasitě křičte, kde to jste!{% endblock %}
    </div>
    <div id="footer2"></div>
  </body>
</html>
