{% extends "betainfo/base.html" %}

{% block content %}

<h1>Informace</h1>
<p>Vítejte na informační stránce projektů RPGPlanet. Zatím je ve výstavbě, omluvte proto prosím informační skromnost.</p>
<p>Naším cílem je poskytnout <strong>společný domov</strong> všem hráčům stolních <abbr title="Role Playing Games">RPG</abbr>.
Domov, kde bude mít <strong>každý svůj prostor</strong>, který si může zařídit podle svého. Střechu, která před deštěm schová každého.</p>

<h2>Naše projekty</h2>
<h3><a href="http://rpgpedia.cz">Rpgpedia</a></h3>
<p>Česká a slovenská otevřená komunitní encyklopedie mapující místní i světovou <abbr title="Role Playing Games">RPG</abbr> scénu.</p>
<p><strong>K dispozici každému</strong></p>

<h3><a href="http://rpghrac.cz">Rpghráč</a></h3>
<p>Domov každého <abbr title="Role Playing Games">RPG</abbr> hráče. Tvorba a publikace děl, diskuze a komplexní komunitní server.</p>
<p>Plánované datum spuštění:  <strong>do konce roku 2011</strong></p>

<h3><a href="http://rpgplanet.cz">Rpgplanet</a></h3>
<p>To nejlepší z Rpghráče přehledně na jednom místě. Výběr článků a doplňků ve formě blízké internetovému časopisu.</p>
<p>Plánované datum spuštění: <strong>zatím neurčeno</strong></p>

<h2>Prostor pro Vás</h2>
<p>Poskytujeme také prostor nadějným českým projektům. Momentálně našich služeb využívají:</p>
<ul>
    <li><a href="http://asterionrpg.cz/">Asterion</a></li>
    <li><a href="http://www.siranie.net/klany/">Klany</a> a <a href="http://www.siranie.net/">Siranie</a></li>
    <li><a href="http://strepysnu.cz/">Střepy Snů</a></li>
    <li><a href="http://draci-studna.rpgplanet.cz/">Dračí studna</a></li>
    <li><a href="http://drakkar.rpgplanet.cz/">Časopis Drakkar</a></li>
</ul>

{% endblock %}