html, body {
	background-color:;
	font-family: sans-serif;
	margin: 0;
	font-size: 1em;
}
#header {
	width: 100%;
	height: 100px;
	background: url('../img/h-right-all.gif') repeat-x left top;
}
#h-left {
	position: relative;
	z-index: 2;
	width: 250px;
	height: 100px;
	background: url('../img/h-left-main.gif') repeat-x left top;
}
#h-left-tape {
	position: relative;
	width: 4px;
	height: 100px;
	left: 246px;
	background: url('../img/h-left-tape.gif');
}
#h-right {
	position: absolute;
	text-align: right;
	right: 0;
	top: 0;
	width: 500px;
	height: 100px;
}
#h-topmenu {
	position: relative;
	width: 500px;
	height: 26px;
	top: 3px;
	right: 10px;
}
#h-topmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#h-topmenu li {
	display: inline;
}
#h-topmenu a {
	letter-spacing: 0px;
	font-weight: bold;
	font-size: 0.7em;
	text-decoration: none;
	color: #5d6b5f;
	border-top: 1px solid #5d6b5f;
	border-left: 1px solid #5d6b5f;
	border-right: 1px solid #5d6b5f;
	background-color: #d2e5d3;
	padding: 2px 3px 0px 3px;
}
#h-topmenu a:hover {
  background-color: #fff;
	color: #5d6b5f;
	border-top: 1px solid #5d6b5f;
	border-left: 1px solid #5d6b5f;
	border-right: 1px solid #5d6b5f;
}
#h-topmenu a:active {
	background-color: #bdbdb5;
	color: #4d4d40;
	top: 1px;
	position: relative;
	border-top: 1px solid #4d4d40;
	border-left: 1px solid #4d4d40;
	border-right: 1px solid #4d4d40;
}
#h-userinfo {
	font-size: 1em;
	position: absolute;
	top: 26px;
	right: 0px;
	width: 500px;
	height: 73px;
	background: url('../img/h-right-user.gif') repeat-y right top;
}
#h-userinfo h2 {
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	padding: 0;
	margin: 8px 13px 0 0;
}
#h-userinfo p {
	color: #ffffff;
	font-size: 0.8em;
	padding: 0;
	margin: 0 13px 0px 0;
}
.userinfo-first a {
	color: #ffffff;
	text-decoration: none;
}
.userinfo-first a:hover {
	color: #ffffff;
}
.userinfo-second {
	position: relative;
	top: 8px;
}
.userinfo-second a {
	color: #fae896;
}
.userinfo-second a:hover {
	color: #ffffff;
}
.logo {
	position: absolute;
	left: 21px;
	top: 10px;
}
/* - - - - - - - - - - */
#content {
	background: url('../img/green.gif') repeat-y left top;
	background-color: #ffffea;
	width: 100%;
	text-align: left;
	padding: 0 0 5em 0;
}
#sidebar {
	float: left;
	width: 250px;
	margin: 0;
	padding: 0;
}
#sidebar-content {
	margin: 0;
	padding: 0 15px 0 11px;
}
#s-name {
	position: relative;
	top: -10px;
	left: 0px;
	z-index: 4;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: -10px;
	width: 224px;
}
#s-name h2 {
	display: inline;
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	padding: 2px 6px 1px 6px;
	background-color: #192f1e;
	border: 4px solid #4a6e54;
}
#s-profile {
  font-size: 0.8em;
  color: #ffffff;
	position: relative;
	margin: 4px 0 -5px 0;
	top: -5px;
	background-color: #192f1e;
	border: 1px solid #000;
	padding: 4px;
	height: 50px;
}
#s-profile img {
	float: left;
	margin: 0 5px 0 0;
}
#s-profile p {
	margin: 0;
}
#s-profile a {
	color: #fae896;
}
#s-profile a:hover {
	color: #ffffff;
}
.s-selections {
	position: relative;
	padding-top: 5px;
}
.s-selections-menu {
  position: relative;
}
.s-selections-menu ul {
  text-align: right;
  list-style: none;
	margin: 0;
	padding: 0 10px 0 0;
}
.s-selections-menu li  {
  display: inline;
}
.s-selections-menu a {
	letter-spacing: 0px;
	font-weight: bold;
	font-size: 0.7em;
	text-decoration: none;
	color: #5d6b5f;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background-color: #d2e5d3;
	padding: 2px 3px 0px 3px;
}
.s-selections-menu a:hover {
  background-color: #fff;
	color: #5d6b5f;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.s-selections-menu a:active {
	background-color: #ffffea;
	color: #000;
	top: 1px;
	position: relative;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.s-selections-main  {
  background: url('../img/s-selection-main.gif') repeat-y left top;
  background-color: #ffffea;
  border: 1px solid #000;
  margin: 0;
  padding: 3px;
  
}
.s-selection-sort {
  position: relative;
  background: url('../img/s-selection-sort.gif') repeat-x left top #2e4734;
  margin: 0px;
  padding: 0 3px 1px 4px;
  border-top: 1px solid #87958a;
  border-left: 1px solid #5b6e5f;
  border-right: 1px solid #203225;
  border-bottom: 1px solid #131e16;
  
}
.s-selection-sort a {
  letter-spacing: 0px;
	font-weight: bold;
	font-size: 0.7em;
	text-decoration: none;
	color: #fae896;
	
}
.s-selection-sort a:hover {
  color: #fff;
}
.s-selections img{
	display: inline;
}
.s-selection-content {
line-height: 1em;
margin-left: 25px;
margin-bottom: 5px;
margin-top: 5px;
}
.s-selection-content p  {
color: #000;
font-size: 0.7em;
margin: 0;
padding: 0;
}
.s-selection-content a  {
color: #790000;
font-size: 0.8em;
margin: 0;
padding: 0;

}
/* - - - - - - - - - - */
#main {
	margin: 0 0 0 250px;
	padding: 0;
}
#main-content {
	margin: 0;
	padding: 15px 11px 0 11px;
	;
	font-size: 100%;
	line-height: 130%;
}
#footer {
}
hr.cleaner {
	clear: both;
	height: 1px;
	margin: -1px 0 0 0;
	padding: 0;
	border: none;
	visibility: hidden;
}
a img {
	border: 0;
}
