{% extends "main.html" %}

{% block content %}

<h1>Registrace</h1>
<p><strong>Portál je nyní v uzavřeném beta provozu. Registrace funguje pouze vybraným uživatelům. Pokud chcete být informováni o veřejné betě, pak se <a href="{% url beta:registration %}">přihlašte do našeho maillistu</a>.</strong></p>

<h2>Facebook</h2>
<p>Máte účet na Facebooku? Pak se prostě přihlašte.</p>

<fb:login-button></fb:login-button>


<!--<form action="." method="post">
<ul>
    {{ form.as_ul }}
    <li><input type="submit" value="Přihlaš" /></li>
</ul>
</form>-->

<h1>Registrace</h1>
{% comment %}
<p>Jste tu noví? <a href="{% url rpgplayer-register %}">Přidejte se k nám.</a></p>
{% endcomment %}

<h2>OpenID</h2>
<p>Máte účet na seznamu, googlu nebo facebooku a nechcete <i>další</i> heslo? Přihlašte se přes svou oblíbenou službu.</p>
<p>TODO</p>

{% endblock %}
